<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewChatMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84D061CE1F9A0E1200DEB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D061E71F9A0E1300DEB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D061F21F9A0E1300DEB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
