<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Emotions</key>
        <array>
            <dict>
                <key>icon</key>
                <string>smiley00.png</string>
                <key>text</key>
                <string>:grinning:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley01.png</string>
                <key>text</key>
                <string>:grin:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley02.png</string>
                <key>text</key>
                <string>:joy:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley03.png</string>
                <key>text</key>
                <string>:smiley:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley04.png</string>
                <key>text</key>
                <string>:smile:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley05.png</string>
                <key>text</key>
                <string>:sweat_smile:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley06.png</string>
                <key>text</key>
                <string>:laughing:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley07.png</string>
                <key>text</key>
                <string>:innocent:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley09.png</string>
                <key>text</key>
                <string>:wink:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley10.png</string>
                <key>text</key>
                <string>:neutral_face:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley11.png</string>
                <key>text</key>
                <string>:expressionless:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley12.png</string>
                <key>text</key>
                <string>:unamused:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley13.png</string>
                <key>text</key>
                <string>:sweat:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley14.png</string>
                <key>text</key>
                <string>:pensive:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley15.png</string>
                <key>text</key>
                <string>:confused:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley16.png</string>
                <key>text</key>
                <string>:confounded:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley17.png</string>
                <key>text</key>
                <string>:kissing:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley18.png</string>
                <key>text</key>
                <string>:kissing_heart:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley19.png</string>
                <key>text</key>
                <string>:kissing_smiling_eyes:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley20.png</string>
                <key>text</key>
                <string>:angry:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley21.png</string>
                <key>text</key>
                <string>:rage:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley22.png</string>
                <key>text</key>
                <string>:cry:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley23.png</string>
                <key>text</key>
                <string>:persevere:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley24.png</string>
                <key>text</key>
                <string>:triumph:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley25.png</string>
                <key>text</key>
                <string>:cold_sweat:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley25.png</string>
                <key>text</key>
                <string>:frowning:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley27.png</string>
                <key>text</key>
                <string>:anguished:</string>
            </dict>
            <dict>
                <key>icon</key>
                <string>smiley28.png</string>
                <key>text</key>
                <string>:fearful:</string>
            </dict>
        </array>
    </dict>
</plist>
